{% extends "base.html" %}
{% block title %}创建仪表盘 - 多维数据实时分析系统{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{ url_for('dashboards.index') }}">仪表盘管理</a></li>
<li class="breadcrumb-item active">创建</li>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h6><i class="fas fa-plus-circle mr-2"></i>创建仪表盘</h6>
            </div>
            <div class="card-body">
                <form method="POST" action="">
                    <div class="form-group">
                        <label for="name">仪表盘名称</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="请输入仪表盘名称" required>
                    </div>
                    
                    <div class="alert alert-info">
                        <i class="fas fa-info-circle mr-2"></i>
                        创建后可在编辑页面添加图表和调整布局
                    </div>
                    
                    <hr class="my-4">
                    
                    <div class="d-flex justify-content-end">
                        <a href="{{ url_for('dashboards.index') }}" class="btn btn-secondary mr-2">
                            <i class="fas fa-times mr-2"></i>取消
                        </a>
                        <button type="submit" class="btn btn-info text-white">
                            <i class="fas fa-check mr-2"></i>创建
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
